@media screen  and (max-device-width: 600px){
    .intro_title {
        margin: 0;
        /* transform: scale(0.6); */

    }

    .intro_title>img {
        display: flex;
        justify-content: center;

    }

    .intro__content_left:not(.big_round) {
        margin-left: 60%;
        transform: scale(0.7);
        margin-right: -700px;
        position: static;
    }

    .big_round {
        margin-right: 100%;
    }

    .intro__block>h3 {
        display: flex;
        flex-wrap: wrap row;

    }

    .wrapper {
        display: flex;
        flex-direction: column;
        initial-letter-align: 1.0;
    }

        .intro__content_right .botton_intro {
        display: flex;

        initial-letter-align: 1.0;
    }

        .intro__content_right .top_intro_num,
    .intro__content_right .bottom_intro_num {
        display: flex;

    }

    .header__logo::before {
        margin-left: 25px;
    }

    .company_sector {
        margin-top: 350px;
        display: flex;
        justify-content: center;

    }

        .company_list {
        transform: scale(0.3);
        display: flex;
        justify-content: center;
        margin-bottom: -150px;

    }

    .company_list__item {
        margin-top: 25px;
        width: 350px;
    }
    
        figure .wrapper{
        /* transform: scale(0.79); */
        }  
        .intro_trending figure{
          margin-left: 0px;
          margin-right: 0px;
          padding: -200px;
        }
        .collections_button,
        .categories>h2{
            transform: scale(0.8);
        }
        .collections_button>.art,
        .collections_button>.collectibles,
        .collections_button>.metaverse,
        .collections_button>.virtual_worlds,
        .collections_button>.sports,
        .collections_button>.music {
            margin-right:10px ;
            margin-top: 20px;
}
.top_column_collections,
.bottom_column_collections{
    transform: scale(0.75);
}
.bottom_column_collections{
    margin-top: -200px;
}
.top_column_collections{
    margin-bottom: 0;
}

.top_categories_galery{
    /* transform: scale(0.5); */
}
.sell{
    /* transform: scale(0.5); */
    margin-top: -200px;
    margin-bottom: 500px;
}
.articles_wrapper{
   margin-left: 60px;
    margin-top: -150px;
    flex-flow: row wrap;
}

.container_articles:not(.three_articles) {
    margin-left: -60px;

}
.articles_text h2{
    margin-top: -300px;
}
.top_footer{
    transform: scale(0.85);
}
.top_footer>p{

   text-align: center;
}
footer{
  width: 1500px !important;

 
}

}